In [20]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('user_msg_count.csv', encoding='latin-1')

In [6]:
df.head()

    user_name                         msg_content                    msg_time
0     Backtre                                 NaN  2020-02-14 03:54:37.014000
1     Bilbray                                 NaN  2020-02-14 02:21:48.909000
2    Archuhi3  https://youtu.be/iM2_bxKTKuU?t=295  2020-02-14 01:45:00.656000
3  LeemerLord                                 NaN  2020-02-14 00:02:55.569000
4         kio                                 NaN  2020-02-13 23:28:04.948000

In [17]:
df.describe()

,user_name,msg_content,msg_time
count,100,70,100
unique,13,70,100
top,Throwbacktre,https://open.spotify.com/track/5F3t5WgLyBX2W7u...,2020-02-09 00:45:41.528000
freq,30,1,1

In [29]:
df.plot()

TypeError: Empty 'DataFrame': no numeric data to plot

NameError: name 'plt' is not defined